@(userId: String, keyForm: Form[controllers.Forms.CreateKeyFormData], firstName: String, pageTitle: String, success: Option[String] = None, error: Option[String] = None)(implicit messages: Messages)
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

@main("Add a key for existing user", firstName, pageTitle, success, error) {
  <div>
    <h4>Add a key for the current user</h4>
    <div class="row">
      <div class="col-md-6 col-md-offset-2 column">
      @b3.form(routes.Application.createKey(userId)) {
        @b3.text(keyForm("key"), '_label -> "Key (optional)", 'placeholder -> "Insert custom key")
        @b3.select(keyForm("tier"), options = Seq("Developer" -> "Developer", "RightsManaged" -> "Rights managed", "Internal" -> "Internal"), '_label -> "Tier")
        @b3.free('_id -> "idFormGroup") {
          <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-ok"></span> Save key</button>
          <a href="@routes.Application.editUserPage(userId)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to user</a>
        }
      }
      </div>
    </div>
  </div>
}