@import controllers.csrf.CSRFSupport
@import controllers.AssetsFinder
@(assets: AssetsFinder, userForm: Form[controllers.Forms.CreateUserFormData], labelMap: Map[String, LabelProperties], firstName: String, pageTitle: String, success: Option[String] = None, error: Option[String] = None)(implicit messages: play.api.i18n.MessagesProvider, request: RequestHeader)
@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-5", "col-md-7") }

@main(assets, "Create user", firstName, pageTitle, success, error){ }{
    <div class="row">
        <div class="col-md-6 col-md-offset-2 column">
            @b4.form(routes.Application.createUser) {
                @CSRFSupport.formField
                @b4.text( userForm("name"), '_label -> "Name", 'placeholder -> "Name" )
                @b4.email( userForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com" )
                @b4.text( userForm("companyName"), '_label -> "Company name (optional)", 'placeholder -> "Company name" )
                @b4.text( userForm("companyUrl"), '_label -> "Company URL (optional)", 'placeholder -> "Company URL" )
                @b4.text( userForm("productName"), '_label -> "Product name", 'placeholder -> "Product name" )
                @b4.text( userForm("productUrl"), '_label -> "Product URL (optional)", 'placeholder -> "Product URL" )
                @b4.select( userForm("tier"), options = Seq(Tier.Developer.toString -> Tier.Developer.friendlyName, Tier.RightsManaged.toString -> Tier.RightsManaged.friendlyName, Tier.External.toString -> Tier.External.friendlyName, Tier.Internal.toString -> Tier.Internal.friendlyName), '_label -> "Tier" )
                @developerTierWarning()
                @b4.text( userForm("key"), '_label -> "Key (optional)", 'placeholder -> "Custom key" )
                @b4.button('_label -> "Labels", 'class -> "btn btn-default btn-sm", 'id -> "btnAddLabels") { <span class="glyphicon glyphicon-plus"></span> }
                @b4.text( userForm("labelIds") )
                @b4.free() {
                    <div id="divChosenLabels"></div>
                }
                @b4.checkbox( userForm("sendEmail"), '_label -> "Send email" )
                @b4.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Save }
            }
        </div>
        <div id="divAllLabels" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Labels <span id="btnCloseLabels" class="pull-right glyphicon glyphicon-remove" style="cursor: pointer"></span></div>
                <div id="divAllLabelsContainer" class="panel-body">
                    @for(label <- labelMap){
                        <span class="label label-default" data-id="@label._1" data-used="false" style="background-color: @label._2.colour">@label._2.name</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="@assets.path("javascripts/createUser.js")" type="text/javascript"></script>
    <link href="@assets.path("stylesheets/labelStyle.css")" type="text/css" rel="stylesheet"/>
}
