@import controllers.csrf.CSRFSupport
@import controllers.AssetsFinder
@(assets: AssetsFinder, keyForm: Form[controllers.Forms.DeveloperCreateKeyFormData], success: Option[String] = None, error: Option[String] = None)(implicit messages: play.api.i18n.MessagesProvider, request: RequestHeader)
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor }

@mainOpenForm(assets, "Create a key", success, error) {
    <div class="row">
        <div class="col-md-8 col-md-offset-2 column">
        @b4.form(routes.DeveloperForm.createKey()) {
            @CSRFSupport.formField
            <div class="row">
                <div class="col-md-6">
                    @b4.text(keyForm("name"), '_label -> "Name", 'tabIndex -> "1")
                    @b4.text(keyForm("productName"), '_label -> "Product name or reason for key", 'tabIndex -> "3")
                    @b4.text(keyForm("companyName"), '_label -> "Company name (optional)", 'tabIndex -> "5")
                </div>
                <div class="col-md-6">
                    @b4.email(keyForm("email"), '_label -> "Email address", 'tabIndex -> "2")
                    @b4.text(keyForm("productUrl"), '_label -> "Product URL (optional)", 'tabIndex -> "4")
                    @b4.text(keyForm("companyUrl"), '_label -> "Company URL (optional)", 'tabIndex -> "6")
                </div>
            </div>
            @b4.checkbox(keyForm("acceptTerms"), '_text -> Html("I accept the <a href=\"http://www.theguardian.com/open-platform/terms-and-conditions\" target=\"_blank\">Guardian Open Platform terms and conditions</a>"))
            @b4.submit('class -> "btn btn-primary btn-block") { Register }
        }
        </div>
    </div>
}