@(userId: String, form: Form[controllers.Application.EditKeyFormData], firstName: String, pageTitle: String, success: Option[String] = None, error: Option[String] = None)(implicit messages: Messages)
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

@main("Edit key", firstName) {
    @Helpers.renderTitle(pageTitle)
    @Helpers.renderMessages(success, error)
    <div class="row">
        <div class="col-md-6 col-md-offset-2 column">
        @b3.form(routes.Application.editKey(form("key").value.get)) {
            @b3.text( form("key"), '_label -> "Key", 'placeholder -> "Key", 'readonly -> true )
            @b3.number( form("requestsPerDay"), '_label -> "Requests per day", 'placeholder -> "Requests per day", 'min -> "0" )
            @b3.number( form("requestsPerMinute"), '_label -> "Requests per minute", 'placeholder -> "Requests per minute", 'min -> "0" )
            @b3.select( form("tier"), options = Seq("Developer" -> "Developer", "Rights managed" -> "Rights managed", "Internal" -> "Internal"), '_label -> "Tier" )
            @b3.checkbox( form("defaultRequests"), '_label -> "Use default rate limits" )
            @b3.select( form("status"), options = Seq("Active" -> "Active", "Inactive" -> "Inactive"), '_label -> "Status" )
            @b3.free('_id -> "idFormGroup") {
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-ok"></span> Save changes</button>
                <a href="@routes.Application.editUserPage(userId)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to user</a>
            }
        }
        </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/editKey.js")" type="text/javascript"></script>
}
