@(message: String, id: String, form: Form[controllers.Application.EditKeyFormData], firstName: String)(implicit messages: Messages)
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

@main("Edit key", firstName) {
    <h4>@message</h4>
    <div class="row">
        <div class="col-md-6 col-md-offset-2 column">
        @b3.form(routes.Application.updateKey(id)) {
            @b3.text( form("key"), '_label -> "Key", 'placeholder -> "Key", 'readonly -> true )
            @b3.text( form("name"), '_label -> "Name", 'placeholder -> "Name", 'readonly -> true )
            @b3.number( form("requestsPerDay"), '_label -> "Requests per day", 'placeholder -> "Requests per day", 'min -> "0" )
            @b3.number( form("requestsPerMinute"), '_label -> "Requests per minute", 'placeholder -> "Requests per minute", 'min -> "0" )
            @b3.select( form("tier"), options = Seq("Developer" -> "Developer", "Rights managed" -> "Rights managed", "Internal" -> "Internal"), '_label -> "Tier" )
            @b3.select( form("status"), options = Seq("Active" -> "Active", "Inactive" -> "Inactive"), '_label -> "Status" )
            @b3.submit('class -> "btn btn-primary"){ Save }
        }
        </div>
    </div>
}
