@(title: String, success: Option[String] = None, error: Option[String] = None, flash: Option[Flash] = None)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body role="document">
        <div class="container" role="main" style="margin-top: 20px;">
            @renderMessage(success, error, flash)
            @content
        </div>
    </body>
</html>
