@(title: String, firstName: String, pageTitle: String, success: Option[String] = None, error: Option[String] = None, flash: Option[Flash] = None, query: Option[String] = None)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body role="document">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.Application.showKeys(range = None)">Bonobo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form action="@routes.Application.search" class="navbar-form navbar-left" role="search" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="query" value="@query">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.Application.showKeys(range = None)">All Keys</a></li>
                        <li><a href="@routes.Application.createUserPage">Create User</a></li>
                    </ul>
                    @if(!firstName.equals("")){
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Welcome, @firstName!</a></li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
        <div class="container" role="main" style="margin-top: 35px;">
            @renderTitle(pageTitle)
            @renderMessage(success, error, flash)
            @content
        </div>
    </body>
</html>
