@(user: BonoboUser, keys: List[KongKey])

<div class="col-md-12">
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th>Key</th>
                <th>Product</th>
                <th>Tier</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for(key <- keys) {
                <tr>
                    <td>@key.key</td>
                    <td>@key.productName</td>
                    <td>@key.tier.friendlyName</td>
                    <td>@key.status</td>
                    <td>
                        @key.createdAt.toString("dd-MM-yyyy hh:mma")
                        @key.extendedAt.map{ d => <br />Extended @d.toString("dd-MM-yyyy hh:mma") }
                    </td>
                    <td>
                        <a href="@routes.Application.extendKeyByUser(user.bonoboId, key.key)" class="btn btn-sm">
                            <span class="glyphicon glyphicon-refresh"></span>
                            Extend
                        </a>
                        <a href="@routes.Application.deleteKeyByUser(user.bonoboId, key.key)" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
