@(keys: List[BonoboKeys])

@main("Show all keys"){
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>API Key</th>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Tier</th>
                        <th>Status</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                @for(key <- keys) {
                    <tr>
                        <td>@key.key</td>
                        <td>@key.name</td>
                        <td>@key.company</td>
                        <td>@key.tier</td>
                        <td>@key.status</td>
                        <td>@key.created_at</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

